.container {
    padding-top: 8rem;
    display: grid;
  }

.categoryList {
    width: 90%;
    margin: 0 auto;
    background: forestgreen;
}

.category {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: green;
    text-align: center;
    margin: 1.5rem;
}