/* -------------------- common style -------------------- */

.header {
    width: 100%;
    height: 80px;
    color: #222;
    font-family: 'S-CoreDream-5Medium';
    font-size: 1rem;
    padding: 3% 0;
    display: flex;
    text-align: center;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, .2);
    align-items: center; /* center height */
    box-sizing: border-box;
}

a {
    color: #222;
}


/* --------------------- logo area --------------------- */

.logo {
    width: 8%;
    /* background: tomato; */
}

.logo img {
    width: 50%;
    vertical-align: middle; /* img는 텍스트보다 살짝 위쪽에 위치 -> 일정하게 잡기 위해 사용 */
    cursor: pointer;
}

/* ----------------- home, scrap area ----------------- */

.left_menu {
    width: 20%;
    display: flex;
}

.left_menu_home {
    width: 40%;
    border-radius: 70px;
    padding: 8% 0;
    margin: 0 2%;
    background: #eee;
    color: #222;
    cursor: pointer;
}

/* .left_menu_home:hover {
    background: #ddd;
} */

.left_menu_scrap {
    width: 45%;
    border-radius: 70px;
    padding: 8% 0;
    margin: 0 2%;
    background: #eee;
    cursor: pointer;
}

.left_menu_scrap:hover {
    background: #ddd;
}

/* ------------------- searchbar area ------------------- */

form {
    width: 100%;
}

.searchbar {
    width: 100%;
    /* background: blue; */
}

.searchbar input {
    width: 85%;
    border-radius: 70px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .2);
    border: none;
    padding: 2%;
    margin: 0 1%;
    outline: none; /* input 박스를 클릭 했을떄 나오는 테두리 없애기 */
    /* background: tomato; */
}


.searchbar img {
    vertical-align: middle;
    opacity: 0.2;
    cursor: pointer;
    /* background: violet; */
}

.searchbar img:hover {
    background: #ddd;
}

/* ------ signin, signup(signout, userinfo) area ------ */

.right_menu {
    width: 20%;
    display: flex;
}

.right_menu_signIn {
    width: 40%;
    border-radius: 70px;
    padding: 8% 0;
    margin: 0 2%;
    background: #eee;
    cursor: pointer;
}

.right_menu_signIn:hover {
    background: #ddd;
}

.right_menu_signUp {
    width: 40%;
    border-radius: 70px;
    padding: 8% 0;
    margin: 0 2%;
    background: #eee;
    cursor: pointer;
}

.right_menu_signUp:hover {
    background: #ddd;
}