.container {
  padding-top: 10rem;
}

.view {
  display: flex;
  justify-content: center;
}

.gridContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, 232px);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}
